.cat-images {    
    padding: 0 20px 10px 20px;
}

.question-cat {
    width: auto;
    height: 50px;
}

.question-cat-two {
    width: auto;
    height: 40px;
}

.question-mark {
    width: auto;
    height: 50px;
}

.question-mark-two {
    width: auto;
    height: 40px;
}